@{
    var idNoticia = ViewBag.idNoticia;
}
<div class="row @(idNoticia != 1 ? "noticia-oculta" : "")">
    <div class="col-md-8 blog-main">
        <div class="form-group">
            <img src="~/Content/noticia/inseticida_botanico.jpg" class="imagem-destaque" />
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">Inseticida botânico pode ser a solução para algumas lavouras</h2>
            <p class="blog-post-meta">25/04/2018</p>
            <h6>Estudo científico inédito da Unoeste usa extrato etanólico de erva daninha para controlar principal praga do milho.</h6>
            <hr>
            <p>
                Produção científica brasileira sinaliza expressiva contribuição sustentável e de baixo custo, para combater a praga nº 1 da lavoura do milho: a lagarta-do-cartucho, que atinge outros tipos de culturas como o algodão e a soja. Experimento com a produção de extrato etanólico da erva-de-rato, planta daninha com variação de nome em diferentes regiões do país, define concentração de meio por cento como solução química de alta mortalidade (98%) e com a utilização de menor quantidade do insumo.
            </p>
            <p>
                Existe uma demanda mundial por inseticidas botânicos, visando o controle alternativo natural em relação aos produtos químicos das pragas que atacam as lavouras, com mais pesquisas na Europa do que na América do Norte, conforme comenta a doutora Vânia Maria Ramos, docente pesquisadora do Programa de Pós-graduação em Agronomia da Unoeste, que orientou o estudo do engenheiro agrônomo, Renato Marcos de Leão, de Faxinal (PR), na produção inovadora do biopesticida.
            </p>
            <p>
                Para o embasamento teórico do estudo, a revisão literária ocorreu em publicações científicas internacionais e o resultado do experimento inédito no Brasil surpreendeu pela baixa concentração e expressiva resolução. “O ideal é concentração baixa e isso foi possível obter com 0,5%, o que torna o produto mais barato e com a produção mais rápida, usando pouca planta”, comentou a pesquisadora e acrescentou que outra vantagem é a de, provavelmente, não fazer mal para pessoas, animais e o planeta.
            </p>
            <p>
                Com as plantas coletadas, secas e moídas, a partir do pó foi produzido o extrato etanólico bruto para ser adicionado ao alimento das lagartas em ensaios com concentrações diferentes, dentre as quais, a de 0,5% ficou definida para o experimento a campo, com previsões de ocorrerem nas regiões paulistas de Presidente Prudente e Botucatu, além de Londrina (PR), envolvendo outros pesquisadores como os do campus da Unoeste de Botucatu. O extrato poderia ser produzido com água, mas no estudo de Leão, utilizou-se álcool por ser um reagente melhor do que a água para arrastar componentes da planta.
            </p>
            <p>
                De acordo com a Dr. Vânia, com a pesquisa em semicampo ou telado (viveiro), confirmando-se o resultado laboratorial, os procedimentos seguintes para a fabricação industrial e a sua colocação no mercado serão os testes medicinais em relação aos humanos para que a Agência Nacional de Vigilância Sanitária (Anvisa) possa liberar ou não a fabricação. Tal procedimento, após finalizados os estudos agronômicos, deverá ser feito pela empresa que se interessar na busca da patente junto ao Ministério da Agricultura.
            </p>
            <p>
                A estimativa de tempo para início da fabricação do inseticida biológico varia de cinco a seis anos, “o que em termos de pesquisa é curtíssimo e o Brasil tem possibilidades de sair na frente em relação a essa demanda mundial no segmento de inseticida botânico”, avaliou a pesquisadora sobre o estudo de Leão que, em função do resultado encontrado e da metodologia inovadora, está sendo encaminhado para publicação científica internacional. Atualmente, o continente Africano é o mais prejudicado com os danos e prejuízos causados pela lagarta-do-cartucho (Spodoptera frugiperda) que poderá ser combatida com o extrato etanólico da erva-de-rato (Asclepias curassavica L.).
            </p>
            <p>
                De acordo com a Organização das Nações Unidas para Agricultura e Alimentação (FAO), até o começo deste ano, somente dez dos 54 países africanos ainda não tinham sido atingidos pela praga. A estimativa é de que o lagarta-do-cartucho possa destruir entre 8 e 21 milhões de toneladas de milho por ano, com prejuízos entre US$ 2,5 bilhões de e US$ 6,5 bilhões aos produtores africanos que têm buscado a ajuda do Brasil em tecnologias de manejo da praga, através de iniciativa da Agência dos Estados Unidos para o Desenvolvimento Internacional (USAID) junto a Agência Brasileira de Cooperação (ABC) e a Empresa Brasileira de Pesquisa Agropecuária (Embrapa).
            </p>
            <p>
                <strong>Mestrado</strong> – Em recente defesa pública de sua dissertação junto ao Programa de Pós-graduação Stricto Sensu em Agronomia da Unoeste, Leão foi aprovado para receber o título de mestre em Agronomia, avaliado pelos doutores. Nelson Barbosa Machado Neto (Unoeste) e Adeney de Freitas Bueno, da Embrapa Soja, de Londrina (PR). O segundo passo do estudo está previsto para ser iniciado no segundo semestre deste ano, com a possibilidade de que Leão venha a ingressar no doutorado. Egresso do curso de graduação em Agronomia na Unoeste, Leão passou em concurso para trabalho temporário no Instituto Brasileiro de Geografia e Estatística (IBGE) e está atuando em nove municípios paranaenses.
            </p>
        </div><!-- /.blog-post -->
        <nav class="blog-pagination">
            <a class="btn btn-outline-secondary disabled" href="#">Anterior</a>
            <a class="btn btn-outline-secondary disabled" href="#">Nova</a>
        </nav>
    </div><!-- /.blog-main -->
    <aside class="col-md-4 blog-sidebar">
        <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">Sobre</h4>
            <p class="mb-0"></p>
        </div>
        @*<div class="p-3">
                <h4 class="font-italic">Arquivos</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="#">Dezembro 2017</a></li>
                    <li><a href="#">Novembro 2017</a></li>
                    <li><a href="#">Outubro 2017</a></li>
                    <li><a href="#">Setembro 2017</a></li>
                </ol>
            </div>*@
    </aside><!-- /.blog-sidebar -->
</div><!-- /.row -->

<div class="row @(idNoticia != 2 ? "noticia-oculta" : "")">
    <div class="col-md-8 blog-main">
        <div class="form-group">
            <img src="~/Content/noticia/mestrado-meio-ambiente.jpg" class="imagem-destaque" />
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">Mestrado em Meio Ambiente abre seleção para pós-doutorado</h2>
            <p class="blog-post-meta">15/02/2018</p>
            <h6>Estão sendo ofertadas duas vagas sem bolsa e uma vaga com bolsa para pesquisador brasileiro ou estrangeiro.</h6>
            <hr>
            <p>
                O Programa de Pós-graduação Stricto Sensu em Meio Ambiente e Desenvolvimento Regional da Unoeste anuncia inscrições para o processo seletivo de candidatos a pós-doutorado com a oferta de três vagas, sendo duas sem bolsa e uma bolsa para pesquisador brasileiro ou estrangeiro, pelo Programa Nacional de Pós-doutorado (PNPD) da Coordenação de Aperfeiçoamento de Pessoal de Nível Superior (Capes), órgão do Ministério da Educação (MEC). Os interessados têm até o dia 28 deste mês para se inscreverem, enquanto o prazo na modalidade sem bolsa irá até quando as duas vagas forem preenchidas.
            </p>
            <p>
                A bolsa ofertada pelo governo federal e disponibilizada pela Unoeste tem vigência de 12 meses, prorrogáveis de acordo com o bom desenvolvimento da pesquisa e dentro de um limite máximo que poderá chegar aos 60 meses, dependendo da categoria em que estiver inserido o selecionado. O primeiro de uma série de pré-requisitos é de que o candidato tenha disponibilidade de dedicação integral. O critério de exclusividade não é exigido na modalidade sem bolsa; podendo o candidato ter vínculo institucional. Porém, em qualquer das duas situações os selecionados poderão contribuir nas disciplinas do mestrado, em orientações, projetos e publicações científicas.
            </p>
            <p>
                A coordenadora Dra. Alba Regina Azevedo Arana comenta que o envolvimento de estudos em pós-doutorado está voltado na obtenção de contribuição para a evolução do mestrado que mantém o Programa de Pesquisa Interdisciplinar (Prointer), que compreende estudos sobre resíduos e seus potenciais impactos, políticas públicas, meio ambiente e agroenergia; os específicos na área da saúde chamado de Prointer Saúde; e o Prointer Ambientalização, vinculado ao Programa Institucional de Ambientalização e Sustentabilidade da Unoeste.
            </p>
            <p>
                Atualmente, faz pós-doutorado pelo PNDP junto ao Mestrado em Meio Ambiente e Desenvolvimento Regional o geógrafo e doutor em geografia Eliventon da Silva Fonseca, que mantém vínculos com projetos de pesquisa no Brasil e no exterior, em instituições como a Unesp; Louisiana State University System e Marshall Space Fligth Center – MSFC-Nasa, ambas nos Estados Unidos; e Australian Natacional University (ANU), na Austrália.
            </p>
        </div><!-- /.blog-post -->
        <nav class="blog-pagination">
            <a class="btn btn-outline-secondary disabled" href="#">Anterior</a>
            <a class="btn btn-outline-secondary disabled" href="#">Nova</a>
        </nav>
    </div><!-- /.blog-main -->
    <aside class="col-md-4 blog-sidebar">
        <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">Sobre</h4>
            <p class="mb-0"></p>
        </div>
        @*<div class="p-3">
                <h4 class="font-italic">Arquivos</h4>
                <ol class="list-unstyled mb-0"></ol>
            </div>*@
    </aside><!-- /.blog-sidebar -->
</div><!-- /.row -->

<div class="row @(idNoticia != 3 ? "noticia-oculta" : "")">
    <div class="col-md-8 blog-main">
        <div class="form-group">
            <img src="~/Content/noticia/mocambique.jpg" class="imagem-destaque" />
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">Mestrado em Meio Ambiente recebe estudante de Moçambique</h2>
            <p class="blog-post-meta">08/03/2017</p>
            <h6>
                Interesse pela pós-graduação da Unoeste surgiu a partir de site com ranking das melhores universidades do Brasil.
            </h6>
            <hr>
            <p>
                O moçambicano António Chigogoro Titosse está entre os novos alunos regulares do Programa de Mestrado em Meio Ambiente e Desenvolvimento Regional, ofertado pela Unoeste junto à Pró-reitoria de Pesquisa e Pós-graduação. Um interesse que surgiu a partir de site com o ranking das melhores universidades brasileiras. A escolha entre a Universidade do Porto, em Portugal, e a universidade em Presidente Prudente decorreu do empenho da coordenação do programa em conseguir atender a necessidade do interessado de estudar com bolsa, obtida da Coordenação de Aperfeiçoamento de Pessoal de Nível Superior (Capes), órgão do Ministério da Educação (MEC).
            </p>
            <p>
                Foram dois anos para que Titosse atingisse o intento de fazer mestrado internacional em meio ambiente, num país onde a língua oficial fosse o português, a mesma de Moçambique, que fica no sudoeste do Continente Africano e que em junho de 2017 completa 42 anos de independência à opressão colonial de Portugal.  Portanto, um país novo e em processo de construção, altamente impactado pela crise econômica mundial, vivendo um período de desaceleração do crescimento econômico, com desvalorização cambial e inflação disparada. Situação que não deixou outra opção ao servidor público federal, em prosseguir seus estudos, que não fosse a obtenção de bolsa.
            </p>
            <p>
                O empenho em obter o aporte financeiro da Capes foi da coordenadora do mestrado, Dra. Alba Regina Azevedo Arana, diante do interesse de ampliar as relações internacionais do programa que dirigi e também contemplar a busca institucional pela internacionalização, preconizada pelo pró-reitor de Pesquisa, Pós-graduação e Extensão Dr. Adilson Eduardo Guelfi, em nome da Reitoria. Biólogo pela Universidade Pedagógica de Moçambique, Titosse foi professor de biologia e química em escola de ensino fundamental e médio desde que estava na faculdade e depois de formado lecionou em escola de ensino superior as disciplinas de poluição da água, fisiologia vegetal e animal e ecologia.
            </p>
            <p>
                Nascido na província de Sofala, na cidade da Beira, e radicado na capital Maputo, seu interesse pelo Brasil surgiu em 2013, quando fez intercâmbio de 30 dias em São Paulo, no Hospital Sírio Libanês, na condição de funcionário de uma empresa privada e servidor do Ministério da Saúde, onde atua como técnico na área de hotelaria hospitalar, que compreende cuidados com alimentação, roupas e resíduos sólidos. Na ocasião também esteve quatro dias no Rio de Janeiro. Encantou-se com o povo brasileiro, pela hospitalidade; mas especialmente com os que vivem em São Paulo. Daí, seu interesse por uma boa universidade paulista e, neste quesito, elegeu a Unoeste.
            </p>
            <p>
                Chegou a Prudente na quinta-feira (2) pós-carnaval e em menos de uma semana já se sente familiarizado, estudando e inicialmente hospedado no hotel escola da universidade, no campus II. “Li bastante sobre a Unoeste e pude imaginar sua dimensão. Então, tinha uma imaginação através da leitura. Agora, estando cá, estou bastante surpreendido, pelo lado positivo. A universidade possui ampla estrutura; o complexo 2 [campus II] é bastante extenso, maior que as universidades do meu país; o contato com as pessoas tem sido muito bom, especialmente os funcionários; já estou convivendo com os professores que são top, com excelentes titulações e que atuam em diferentes áreas de pesquisa”, comenta.
            </p>
            <p>
                O encantamento de Titosse é imenso, não pelo deslumbramento e sim pela realidade dos fatos, tanto é que está determinado a ser o intermediário de intercâmbio de pesquisa entre a Unoeste e universidades de seu país. Licenciado de seu emprego no governo, o prazo do mestrado é de dois anos, mas sua meta é tentar terminar um pouco antes, para poder retornar, pois não se vê em condições financeiras de viajar ao seu país antes de obter a titulação de mestre, com preço da passagem aérea em torno de R$5 mil. Em sua pesquisa, inicialmente, pretendia desenvolver um estudo de caso no Hospital de Maputo, que é o maior de seu país.
            </p>
            <p>
                Para fazer a pesquisa lá, teria que eliminar as disciplinas aqui. Terminada a pesquisa em Maputo, voltaria a Prudente para fazer a defesa de sua dissertação. Em razão dos gastos, pensa em fazer o estudo completo por aqui, voltado à análise de lixo hospitalar como subsídio ao planejamento em gestão ambiental. A mesma proposta que defendeu ao participar do processo seletivo para ingressar como aluno regular do programa, avaliado à distância e com a apresentação do pré-projeto de pesquisa via Skype. Procedimentos feitos preliminarmente à obtenção da bolsa.
            </p>
            <p>
                Conforme Titosse existem muitos moçambicanos estudando no Brasil. As bolsas são obtidas através de concursos lançados pela Embaixada do Brasil. Conta que a relação entre os dois países é muito intensa, a começar pelo fato da cultura brasileira ser imensamente consumida em Moçambique, especialmente a música que é bastante difundida, com o sucesso de momento no Brasil sendo reproduzido nas rádios de lá. Cita alguns cantores: Cristiano Araújo, Gustavo Lima e Wesley Safadão. A cantora preferida é Ivete Sangalo.
            </p>
            <p>
                Embora, os moçambicanos curtam os sucessos brasileiros de momento, para várias gerações o grande ídolo é Roberto Carlos. “Eu cresci ouvindo Roberto Carlos”, comenta. Outro produto cultural de grande consumo é a teledramaturgia, acompanhada em tempo real pela Globo Internacional, assistida por quem tem poder econômico para assinar, conforme Titosse. Porém, a audiência maciça, pela classe menos abastada e que é a maioria, ocorre com a TV Record, canal local em sistema aberto e que reproduz grande parte da grade da programação gerada no Brasil. As maiores audiências são das novelas e de programa de auditório como o de Rodrigo Faro.
            </p>
            <p>
                O futebol brasileiro também toca na alma do povo de Moçambique e para eles figura como ídolos Pelé, Ronaldo Gaúcho, Ronaldo Fenômeno e Neymar. Titosse que tem 35 anos de idade nunca viu Pelé jogar, assim como todos os de sua geração e de gerações mais novas; porém têm o ex-jogador como um símbolo. “Todos que gostam de futebol conhecem o Pelé e até quem não gosta”, diz. Outro ídolo permanente é o moçambicano Eusébio que jogou na seleção de Portugal e no Benfica, de tal forma que Titosse está entre os muitos compatriotas torcedores do clube português, embora seu clube de coração seja o Ferroviário da Beira e no Brasil a simpatia é pelo Palmeiras.
            </p>
            <p>
                Órfão de pais e o mais novo de quatro irmãos, Titosse quer ir longe nos estudos. As três irmãs não tiveram a oportunidade de fazer o ensino superior. Seu irmão fez contabilidade e auditoria. Seu interesse é obter o título de doutor, com a preferência por fazer o doutorado no Brasil, país onde se sente em casa pelo clima que é muito parecido; pelo povo hospitaleiro; pela qualidade do ensino, pesquisa e extensão; pelo gosto cultural que inclui a incorporação de expressões tipicamente brasileiras no vocabulário do povo moçambicano; e pela comida, em especial o churrasco e a feijoada.
            </p>
        </div><!-- /.blog-post -->
        <nav class="blog-pagination">
            <a class="btn btn-outline-secondary disabled" href="#">Anterior</a>
            <a class="btn btn-outline-secondary disabled" href="#">Nova</a>
        </nav>
    </div><!-- /.blog-main -->
    <aside class="col-md-4 blog-sidebar">
        <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">Sobre</h4>
            <p class="mb-0"></p>
        </div>
        @*<div class="p-3">
                <h4 class="font-italic">Arquivos</h4>
                <ol class="list-unstyled mb-0"></ol>
            </div>*@
    </aside><!-- /.blog-sidebar -->
</div><!-- /.row -->

<div class="row @(idNoticia != 4 ? "noticia-oculta" : "")" data-noticiaid="4">
    <div class="col-md-8 blog-main">
        <div class="form-group">
            <img src="~/Content/noticia/semana-meio-ambiente.jpg" class="imagem-destaque" />
        </div>
        <div class="blog-post">
            <h2 class="blog-post-title">Semana do Meio Ambiente tem atividades em quatro cidades</h2>
            <p class="blog-post-meta">08/06/2017</p>
            <h6>Marcos comemorativos estimulam intensificação de ações pelo dia mundial voltado à proteção e preservação.</h6>
            <hr>
            <p>
                No mesmo ano em que foram implantados os primeiros cursos que deram origem à Unoeste, a Organização das Nações Unidas (ONU) promovia a criação do Dia Mundial do Meio Ambiente, transcorrido em 5 de junho. Foi na Conferência de Estocolmo, em 1972 na Suécia. Agora, quando a instituição e a data comemorativa completam 45 anos, o curso de Engenharia Ambiental e Sanitária, desde que foi implantado há 15 anos, promove uma das mais intensas Semanas do Meio Ambiente.
            </p>
            <p>
                Ações extensivas de educação ambiental acontecem de segunda-feira (5) a sábado (10) desta semana, com os alunos transformando conhecimentos, adquiridos nas salas de aulas, em atividades práticas realizadas em Presidente Prudente, Presidente Venceslau, Piquerobi e Nantes. São seis ações pontuais, todas comprometidas com o que preconiza a organização mundial: conscientizar às pessoas sobre os temas ambientais, principalmente aqueles que dizem respeito à proteção e preservação.
            </p>
            <p>
                Em Prudente são realizados três projetos. O primeiro deles nasceu na 4ª Jornada de Engenharia Ambiental e Sanitária, de 24 a 27 de maio, quando foi realizado o Bazar Sustentável. Alunos e professores praticaram o exercício de desapegar de objetos que para eles já não tinham mais utilidade, fazendo trocas ou doações. Os donativos foram entregues na manhã desta quinta-feira (8) na Cooperativa dos Trabalhadores de Produtos Recicláveis, a Cooperlix.
            </p>
            <p>
                Roupas, calçados e bolsas, dentre outros objetos em bom estado de uso, foram recebidos pela diretoria para distribuição aos 90 cooperados. A presidente Maria Aparecida Assis Silva afirmou que a oferta ajuda bastante. “A gente só tem que agradecer”, disse em nome das 45 mulheres e 45 homens que chegam a beneficiar mensalmente 120 toneladas de recicláveis retirados do lixo urbano, com ganho individual de R$ 1,5 mil. “Toda ajuda é bem recebida por nós”, comentou.
            </p>
            <p>
                Ao dizer que praticar a solidariedade é algo muito importante para o engenheiro ambiental, a coordenadora do curso Leila Sotocorno e Silva explicou que o exercício profissional nessa área requer sensibilidade para com as pessoas em geral e também em relação ao meio ambiente. “O que fazemos hoje na Cooperlix é uma extensão da Jornada que proporcionou benefícios acadêmicos, os quais agora são compartilhados com a população, representada pelos trabalhadores com recicláveis”, explicou.
            </p>
            <p>
                O ato de solidariedade para com os cooperados é classificado pela professora Leila Maria Couto Esturaro, que responde pela disciplina de Educação Ambiental, como questão de responsabilidade socioambiental. “São ações que agregam muito para nossa formação. As extensões provocam em mim um sentimento de gratidão aos professores e à coordenação, por poder exercitar práticas que ajudam as pessoas”, disse Caroline Melo, aluna do 7º termo e com atuação em relações públicas no Centro Acadêmico.
            </p>
            <p>
                Outro projeto em Prudente é o “Meninos pela Natureza”, que será realizado no Lar dos Meninos mediante ações educativas para crianças de 4 a 12 anos, junto às quais foram verificadas a percepção ambiental, motivado o despertar de valores sobre preservação e estimulada a prática, com o plantio de seis mudas de árvores nativas e de 20 plantas ornamentais, na manhã de sábado (10). O terceiro projeto foi na Escola Municipal Gisele Dalefi, no bairro Residencial Universitário.
            </p>
            <p>
                Ainda no mesmo sábado, no município de Nantes serão plantadas 40 mudas de árvores em área de nascentes, também produzidas no viveiro da universidade. Em Nantes, as atividades da semana incluíram palestras e oficinas na Escola Municipal de Ensino Fundamental Luiz Fernando Serafim, conduzidas por Giovana Talita Nobrega Perrud, aluna da Engenharia Ambiental e Sanitária e que faz estágio no departamento municipal de obras e engenharia.
            </p>
            <p>
                Em Venceslau são dois projetos: Água não brota na torneira, junto a alunos do Colégio Cooperativo; e Preservação e Conservação do Meio Ambiente, na Escola Municipal de Ensino Infantil João Rodrigues Batata. Ambos com o objetivo geral voltado para cuidados com o meio ambiente. Os objetivos específicos são para diagnosticar a realidade ambiental no espaço escolar, propor a coleta seletiva na escola e promover ideias de preservação.
            </p>
            <p>
                Em Piquerobi, o projeto Escola Sustentável ocorreu na Creche Tia Maura. Todos os projetos da Semana do Meio Ambiente têm cadastro na Pró-reitoria de Extensão e Ação Comunitária (Proext). Para todas as ações é considerado o efeito multiplicador, com as crianças levando as informações para suas famílias; os jovens e adultos compartilhando com outras pessoas; e os trabalhadores da cooperativa dividindo as doações com seus familiares.
            </p>
        </div><!-- /.blog-post -->
        <nav class="blog-pagination">
            <a class="btn btn-outline-primary disabled" href="#">Anterior</a>
            <a class="btn btn-outline-primary disabled" href="#">Nova</a>
        </nav>
    </div><!-- /.blog-main -->
    <aside class="col-md-4 blog-sidebar">
        <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">Sobre</h4>
            <p class="mb-0"></p>
        </div>
        @*<div class="p-3">
                <h4 class="font-italic">Arquivos</h4>
                <ol class="list-unstyled mb-0"></ol>
            </div>*@
    </aside><!-- /.blog-sidebar -->
</div><!-- /.row -->