<h2>
    AJUDE-NOS A CONHECER O SEU CAMPUS
</h2>
<h6>
    Você que é aluno ou funcionário da Universidade do Oeste Paulista, queremos saber como você se relaciona com o ambiente do seu campus e, principalmente, qual sua visão sobre os resíduos gerados dentro da universidade. Com a sua contribuição, buscaremos um Campus mais verde e sustentável.
</h6>

<hr />

<div class="row">
    <div class="col-md-6">
        <strong>1 - Qual a sua relação com a Universidade do Oeste Paulista?</strong>
        <ul class="list-unstyled">
            <li><input type="radio" name="qst_1" checked="checked" /> Professor</li>
            <li><input type="radio" name="qst_1" /> Aluno</li>
            <li><input type="radio" name="qst_1" /> Funcionário</li>
        </ul>
    </div>

    <div class="col-md-6">
        <strong>2 - Qual campus você frequenta?</strong>
        <ul class="list-unstyled">
            <li><input type="radio" name="qst_2" checked="checked" /> Campus I</li>
            <li><input type="radio" name="qst_2" /> Campus II</li>
            <li><input type="radio" name="qst_2" /> Ambos</li>
        </ul>
    </div>

    <div class="col-md-6">
        <strong>3 - Com qual frequência a temática ambiental é abordada no Campus em que você frequenta?</strong>
        <ul class="list-unstyled">
            <li><input type="radio" name="qst_3" checked="checked" /> Semanalmente</li>
            <li><input type="radio" name="qst_3" /> Raramente</li>
            <li><input type="radio" name="qst_3" /> O tema nunca é abordado</li>
        </ul>
    </div>

    <div class="col-md-6">
        <strong>4 - Por meio de quais canais você tem conhecimento de temas como meio ambiente, natureza e resíduos?</strong>
        <ul class="list-unstyled">
            <li><input type="radio" name="qst_4" checked="checked" /> Site e redes sociais da Unoeste</li>
            <li><input type="radio" name="qst_4" /> Site do Mmadre</li>
            <li><input type="radio" name="qst_4" /> Sala de aula por meio de disciplinas ministradas</li>
            <li><input type="radio" name="qst_4" /> Projetos pedagógicos e de extensão, entre outros</li>
        </ul>
    </div>

    <div class="col-md-6">
        <strong>5 - O campus que você frequenta promove contato com a natureza?</strong>
        <ul class="list-unstyled">
            <li><input type="radio" name="qst_5" checked="checked" /> Sim</li>
            <li><input type="radio" name="qst_5" /> Não</li>
        </ul>
    </div>

    <div class="col-md-6">
        <strong>6 - Por meio de quais ações o campus que você frequenta promove contato com a natureza?</strong>
        <ul class="list-unstyled">
            <li><input type="radio" name="qst_6" checked="checked" /> Por meio do espaço físico, o qual conta com uma área verde</li>
            <li><input type="radio" name="qst_6" />  Por meio de visitas e trabalhos de campo fora da universidade</li>
            <li><input type="radio" name="qst_6" /> O campus que frequento não promove contato com a natureza</li>
        </ul>
    </div>


    <div class="col-md-6">
        <strong>7 - O campus que você frequenta respeita a reciclagem?</strong>
        <ul class="list-unstyled">
            <li><input type="radio" name="qst_7" checked="checked" /> Sim, existem vários espaços de lixeiras com coleta seletiva pelo campus.</li>
            <li><input type="radio" name="qst_7" />  Sim, porém são poucas as lixeiras de coleta seletiva no campus.</li>
            <li><input type="radio" name="qst_7" />  Não, pois não existem espaços adequados para descarte de resíduos.</li>
        </ul>
    </div>



    <div class="col-md-6">
        <strong>8 - O que você faz com os resíduos que você gera em seu campus?</strong>
        <ul class="list-unstyled">
            <li><input type="radio" name="qst_8" checked="checked" /> Reduzo meu consumo e utilizo materiais mais duráveis.</li>
            <li><input type="radio" name="qst_8" /> Reaproveito materiais, reutilizo folhas de papel, etc.</li>
            <li><input type="radio" name="qst_8" /> Separo corretamente os resíduos gerados por mim.</li>
            <li><input type="radio" name="qst_8" /> Até o momento, não tive nenhum envolvimento com o tema.</li>
        </ul>
    </div>


    <div class="col-md-6">
        <strong>9 - Quais motivos dificultam o seu envolvimento na gestão de resíduos do seu campus?</strong>
        <ul class="list-unstyled">
            <li><input type="radio" name="qst_9" checked="checked" />  Falta de tempo.</li>
            <li><input type="radio" name="qst_9" /> Falta de informações e de atividades para promover o tema.</li>
            <li><input type="radio" name="qst_9" /> Falta de estrutura, como espaços de conscientização e até mesmo lixeiras apropriadas.</li>
            <li><input type="radio" name="qst_9" />Não tenho dificuldades e me envolto com a gestão dos resíduos do meu campus.</li>
            <li><input type="radio" name="qst_9" />Até o momento, não tive nenhum envolvimento com o tema.</li>
        </ul>
    </div>



    <div class="col-md-6">
        <strong>10 - No seu campus, existe algum núcleo responsável por administrar os problemas ambientais?</strong>
        <ul class="list-unstyled">
            <li><input type="radio" name="qst_10" checked="checked" /> Sim</li>
            <li><input type="radio" name="qst_10" /> Não</li>
            <li><input type="radio" name="qst_10" /> Não sei</li>
        </ul>
    </div>
    <div class="col-md-12 form-group">
        <input type="button" class="btn btn-success btn-sm" value="Enviar" />
    </div>
</div>
